<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CrimsonPro-Regular.ttf</string>
		<string>CrimsonPro-Medium.ttf</string>
		<string>CrimsonPro-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Clio uses your health data to provide personalized insights about how your cycle affects your wellness, energy, and movement patterns.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Clio can save your workouts and wellness data to Apple Health to keep all your health information in one place.</string>
</dict>
</plist>
